@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

@layer base {
  .text-blue {
    @apply text-blue-800;
  }
}

body {
  font-family: "Poppins", BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.section-1 {
  height: calc(100vh - 70px);
}

.landing-illustration {
  height: 750px;
}

.landing-balance-illustration,
.landing-limiter {
  height: 500px;
}
